/*
verde: #49a09d
lilas: #5f2c82
*/

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
    width: 250px;
    height: 515px;
    display: block;
    overflow: hidden; /* TUDO QUE ESTIVER FORA DA BORDA DO BLOCO SERÁ ESCONDIDO */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s; /* TEMPO DE MUDANÇA NO WIDTH E HEIGHT */
    transition-timing-function: ease; /* DIMINUI A VELOCIDADE DA ANIMAÇÃO */
}

#imagem {
    background: #5f2c82 url(../images/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    height: 200px;
}

#formulario {
    padding: 10px;
    display: block;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario p {
    font-size: 0.8em;
}

div.campo {
    background-color: #5F2C82;
    border: 1px solid #5F2C82;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    display: block;
    margin: 5px 0px;
}

span {
    color: white;
    width: 40px;
    padding: 5px;
    font-size: 2em;
    display: inline-block;
}

div.campo > input {
    background-color: #94CFCD;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    width: calc(100% - 45px); /* OBS ESSE CALCULO */
    height: 100%;
    padding: 4px;
    transform: translateY(-4px); /* DEIXE SMP POR ULTIMO */  
}

div.campo > input:focus-within { /* AO CLICAR-FOCAR NO CAMPO O BACK FICARÁ BRANCO */
    background-color: white;
    border: none;
}

#entrar {
    background-color: #49a09d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    width: 100%; /* 100% DO CONTAINER DIV */
    height: 40px;
    margin-bottom: 5px;
}

#entrar:hover {
    background-color: #2e6564;
}

#button {
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    color: #2e6564;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    height: 40px;
    display: inline-block;
}

#button:hover {
    background-color: #91d6d5;
}